<div id="sidebar-collapse" class="col-sm-3 col-lg-5 sidebar collapse in">
  <!--This is the search option,shoul dbe disabled at the moment-->
  <!--
  <form role="search">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
      </div>
  </form>-->
  <ul class="nav menu">
    <li class="active"><a href="index_old.html"><svg class="glyph stroked dashboard-dial"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-dashboard-dial"></use></svg> דף הבית</a></li>
    <li><a href="widgets.html"><svg class="glyph stroked calendar"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-calendar"></use></svg> Widgets</a></li>
    <li><a href="charts.html"><svg class="glyph stroked line-graph"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-line-graph"></use></svg> Charts</a></li>
    <li><a href="tables.html"><svg class="glyph stroked table"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-table"></use></svg> Tables</a></li>
    <li><a href="forms.html"><svg class="glyph stroked pencil"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
    <li><a href="panels.html"><svg class="glyph stroked app-window"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
    <li><a href="icons.html"><svg class="glyph stroked star"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-star"></use></svg> Icons</a></li>
    <li class="parent ">
      <a href="#">
        <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown
      </a>
      <ul class="children collapse" id="sub-item-1">
        <li>
          <a class="" href="#">
            <svg class="glyph stroked chevron-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-chevron-left"></use></svg> Sub Item 1
          </a>
        </li>
        <li>
          <a class="" href="#">
            <svg class="glyph stroked chevron-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-chevron-left"></use></svg> Sub Item 2
          </a>
        </li>
        <li>
          <a class="" href="#">
            <svg class="glyph stroked chevron-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-chevron-left"></use></svg> Sub Item 3
          </a>
        </li>
      </ul>
    </li>
    <li role="presentation" class="divider"></li>
    <li><a href="login.html"><svg class="glyph stroked male-user"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
  </ul>

</div>
